

<% if (locals.flash && locals.flash.success) {%> 
    <div class="alert alert-success">
        <strong>good!</strong><%= flash.success %>
    </div>
<% } %>
<!-- End Bradcaump area -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                   
                        <h3 class="wedget__title">0 upload </h3>
                    
                    <aside class="wedget__categories poroduct--cat">
                        <h3 class="wedget__title">Categories</h3>
                        <ul>
                            <% for (category of categorys){ %> 
                                <li><a href="/category/<%= category.intituler %> "><%= category.intituler %> </a></li> 
                            <% } %>

                        </ul>
                    </aside>
                    <!-- <aside class="wedget__categories pro--range">
                        <h3 class="wedget__title">topic and subject</h3>
                        <ul>
                            <li>aaaa</li>
                            <li>aaaa</li>
                            <li>aaaa</li>
                            <li>aaaa</li>

                        </ul>
                    </aside> -->
                    <aside class="wedget__categories poroduct--compare">
                        <h3 class="wedget__title">annee</h3>
                        <ul>
                            <li>aaaa</li>
                            <li>aaaa</li>
                            <li>aaaa</li>
                            <li>aaaa</li>

                        </ul>
                    </aside>
                </div>
            </div>
       