<li class="shop_search"><a class="search__active" href="#"></a></li>
<li class="setting__bar__icon"><a class="setting__active" href="#"></a>
    <div class="searchbar__content setting__block">
        <div class="content-inner">
            <div class="switcher-currency">
                <strong class="label switcher-label">
                    <span>Language</span>
                </strong>
                <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                        <span class="currency-trigger">English01</span>
                        <ul class="switcher-dropdown">
                            <li>English02</li>
                            <li>English03</li>
                            <li>English04</li>
                            <li>English05</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="switcher-currency">
                <strong class="label switcher-label">
                    <span>My Account</span>
                </strong>
                <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                        <div class="setting__menu">
                            <span><a href="#">Parametre</a></span>
                            <span><a href="#">changer le mot de passe</a></span>
                            <span><a href="#">Deconnexion</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>